/* Font */
.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-<uniquifier> {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}


/* body */
body{
  background-color: #c1bfd444;
}
/* first file*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
}

.bars {
  margin-right: 150px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.logo {
  width: 116.64px;
  height: auto;
  margin-left: 120px;
  margin-top: 30px;
  max-width: 100%;
}

nav {
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: #252432;
  font-weight: 500;
}

#home {
  font-weight: 700;
}

.shop-about a {
  color: #8987A1;
}

.shop-about {
  display: flex;
  gap: 30px;
}


.container {
  display: flex;
  justify-content: center;
  margin-top: 221px;
}

.header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  gap: 2rem;
}

.hero-flower img {
  height: auto;
  width: 100%;
}


.title h1 {
  font-size: 4.6rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
  font-family: "Noto Serif", serif;
}

.title1 {
  color: #000000;
}

.title2 {
  color: #E95A08;
  font-weight: 900;
  margin-top: 0.5rem;
}

.title p {
  margin-top: 1rem;
  font-size: 1.37rem;
  color: #00000075;
  line-height: 1;
  font-family: "Inter", sans-serif;
}


/* second file */

.plants-section {
  text-align: center;
  padding: 60px 30px;
  margin-left: 110px;
  margin-right: 110px;
  
}

.plants-section h1 {
  font-size: 3rem;
  color: #252432;
  font-family: "Noto Serif", serif;
  margin-bottom: 10px;
}

.plants-section h1 span {
  color: #E95A08;
  font-weight: bold;
}

.plants-section p {
  font-size: 1.25rem;
  color: #00000075;
  font-family: "Inter", sans-serif;
  margin-bottom: 40px;
  margin-top: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 18px;
}

.grid-item {
  
  font-family: "Inter", sans-serif;
}

.grid-item img {
  width: 100%;
  height: auto;

}

.grid-item h2 {
  font-size: 1.4rem;
   font-weight:500;
  margin: 12px 0 6px;
  color: #111111;
}

.grid-item p {
  font-size: 1.5rem;
  color: #111111;
  font-weight: bold;
  margin-top:17px;
}

.grid-item button {
  background-color: #E95A08;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  padding: 16px 20px;
 width: 100%;
  box-sizing: border-box; 
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

.grid-item button:hover {
  background-color: #d45105;
}